* {
    margin: auto;
    text-align: center;
}

body {
    background-color: rgb(105, 53, 53);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.counter {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.board {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 600px;
    height: 600px;
}

.floor {
    background-color: rgb(212, 166, 80);
}

.target {
    background-color: yellow;
}

.cell {
    width: 40px;
    height: 40px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    width: auto;
    height: 25px;
    border-radius: 10%;
}

button:hover {
    background-color: rgb(212, 166, 80);
    cursor: pointer;
}

.win {
    transition: 1s;
    color: azure;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
}

.score {
    margin-top: 10px;
    font-size: xx-large;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.score span {
    font-family: 'Courier New', Courier, monospace;
}

.level {
    margin-top: 10px;
    font-size: xx-large;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.level span {
    font-family: 'Courier New', Courier, monospace;
}

.silent {
    border-radius: 25%;
    position: absolute;
    top: 0;
    right: 10;
}