* {
    margin: auto;
    text-align: center;
}

body {
    background-color: rgb(105, 53, 53);
}

.board {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 700px;
    height: 700px;
}

.floor {
    background-color: rgb(212, 166, 80);
}

.target {
    background-color: yellow;
}

.cell {
    width: 40px;
    height: 40px;
}

.restart {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    width: 70px;
    height: 25px;
    border-radius: 10%;
}

.restart:hover {
    background-color: rgb(212, 166, 80);
    cursor: pointer;
}

.win {
    color: azure;
    margin-top: 10px;
    font-size: xx-large;
}

.score {
    margin-top: 10px;
    font-size: xx-large;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}